{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>{{ paper.name }}</h2>
    {% if paper.author.all  %}
            {% for author in paper.author.all %}
                <p style="float:left;color:#900;font-family:arial">{{ author.name }}</p>
                <div style="height:12px;width:20px;background-color:white;float:left;"></div>
            {% endfor %}

        {% endif %}
        <br>
        <span class = 'tt'> <p style="background-color: white;font-size: 14px;display: block;padding: 10px;border-radius: 5px;text-align: justify;">{{ paper.abstract }} </p></span>


<h5>{{ paper.review_set.count }} reviews ({{ paper.average_rating | floatformat }} average rating)</h5>
{% endblock %}

{% block content %}
<h3>Recent reviews</h3>

{% if paper.review_set.all %}
<div class="row">
    {% for review in paper.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this paper yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reviews:add_review' paper.recid %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}